<html>
    <head>
        {% if title %}
        <title>{{ title }} - Dolist</title>
        {% else %}
        <title>Welcome to Dolist</title>
        {% endif %}
    </head>
    <body>
        <ul>
            <li>
                <a href="{{ url_for('index') }}">Home</a>
            </li>
            <li>
                <a href="{{ url_for('login') }}">Login</a>
            </li>
        </ul>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>    
            {% for message in messages %}
            <li>
                {{ message }}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        {% block content %}
        {% endblock %}
    </body>
</html>